html,body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #d8e5ff;
    user-select: none;
}

#container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

input{
    color: #daf1f9;
    background-color: rgb(74, 74, 86);
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    font-family: 'Rubik', sans-serif;
}

#neela{
    width: 150px;
    margin: 0 auto;
}

button{
    font-weight: bold;
    color: #FDFDFD;
    background-color: #04173e;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

ul{
    font-weight: bold;
    color: #04173e;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li{
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

button:hover{
    background-color: #1f3d7a;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

li:hover{
    background-color: #91b3f8;
}